body {
    background: url(../images/backgrounds/background.png);
    background-size: cover;
    // Don't edit
}

.boost_primary {
    color: $primary_color
}

.border_primary {
    border: 1px solid $primary_color;
}

.icon {
    width: 19px;
    height: 19px;
}

.toggle_icon {
    width: 34px;
    height: 34px;
}

li {
    list-style: none;
}