:root {
    @media (max-width:600px) {
        font-size: 12px;
    }
}

body {
    background: url(../images/backgrounds/background.png);
    background-size: cover;

    // Mohamed Edit
    // height: 100vh;
    // overflow: hidden;
    height: 5000px;

    &.loaded {
        height: initial;
        overflow: initial;
        padding-bottom: 70px;
    }
}

.icon {
    width: 19px;
    height: 19px;
}

.toggle_icon {
    width: 34px;
    height: 34px;
}

li {
    list-style: none;
}

.loading_container {
    position: absolute;
    inset: 0;
    background: $nav_bg;
    z-index: 3;
    @include default_transition;

    .loader {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: block;
        margin: 15px auto;
        position: relative;
        color: #FFF;
        left: -100px;
        box-sizing: border-box;
        animation: shadowRolling 2s linear infinite;
    }

    @keyframes shadowRolling {
        0% {
            box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
        }

        12% {
            box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
        }

        25% {
            box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
        }

        36% {
            box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
        }

        50% {
            box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
        }

        62% {
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
        }

        75% {
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
        }

        87% {
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
        }

        100% {
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
        }
    }

    &.hide {
        opacity: 0;
        display: none !important;
    }
}

.dropdown-menu {
    @include fast_transition
}

.percentage:after {
    content: ' %'
}

.price::before {
    content: "$ "
}

.light {
    color: $white_black_darker
}


@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1300px;
    }
}


.total_finished_counter {
    text-align: center;
    padding: 1px;
    color: $white_black;
    line-height: 37px;
    background: linear-gradient(288deg, #00C8FF 0%, #145266 104.41%),
        linear-gradient(263.69deg, #05C9FF -34.42%, #0A3A4A 114.54%);
    font-size: .8rem;
    height: 30px;
    width: 80px;
    border: 2px solid #05C9FF
}

.default_counter {
    @extend .total_finished_counter;
    height: 23px;
    width: 66px;
    font-size: .7rem;

    &~* {
        font-size: .7rem;
    }
}