nav {
    background-color: $nav_bg;

    .container {
        @media (max-width:991px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    .left {
        min-width: 12%;
        justify-content: space-between;

        #toggler {
            width: 44px;
            cursor: pointer;

            img {
                @include default_transition;
            }

            .hidden_icon {
                opacity: 0;
                overflow: hidden;
                height: 0;
                width: 0;
            }
        }

        button {
            display: flex;
            align-items: center;
            gap: 3px;
            padding: 4px 12px;
        }
    }

    .search_container {
        position: relative;
        width: 400px;

        input {
            padding-inline-start: 3rem;
            background-color: $gray_bg;
        }

        &::after {
            content: "";
            width: 24px;
            height: 24px;
            background: url(../images/icons/search.svg) no-repeat;
            color: $gray_color;
            position: absolute;
            top: 17%;
            left: 3%;
        }
    }

    .ai_btn {
        background: linear-gradient(288deg, #00C8FF 0%, #145266 104.41%),
            linear-gradient(263.69deg, #05C9FF -34.42%, #0A3A4A 114.54%);
        color: #FFF;
        border-radius: 10px;
        margin-inline-end: 10px;
    }

    .dropdown {
        gap: 10px;

        button {
            padding: 0px 5px 0px 5px;
            border-radius: 34px;
            background: #012335;
            color: $primary_color;
        }
    }
}