nav {
    background-color: $nav_bg;

    .container-fluid {
        @media (max-width:800px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    .left {
        #toggler {
            width: 44px;
        }

        button {
            display: flex;
            align-items: center;
            gap: 3px;
            padding: 4px 12px;

            i {
                transition: 1s all ease-in-out;

                &.hidden_icon {
                    opacity: 0;
                    overflow: hidden;
                    height: 0;
                    width: 0;
                }
            }
        }
    }

    .search_container {
        position: relative;
        width: 400px;

        input {
            padding-inline-start: 3rem;
            background-color: $gray_bg;
        }

        &::after {
            content: "";
            width: 10%;
            height: 100%;
            background: url(../images/icons/search.svg) no-repeat;
            color: $gray_color;
            position: absolute;
            top: 18%;
            left: 4%;
        }
    }

    .ai_btn {
        background: linear-gradient(288deg, #00C8FF 0%, #145266 104.41%),
            linear-gradient(263.69deg, #05C9FF -34.42%, #0A3A4A 114.54%);
        color: #FFF;
        padding: 10px, 16px, 10px, 16px;
        border-radius: 10px;
        border: 2px;
        gap: 8px;
        margin-inline-end: 10px;
    }

    .dropdown {
        gap: 10px;

        button {
            padding: 0px 5px 0px 5px;
            border-radius: 34px;
            gap: 8px;
            background: #012335;
            color: $primary_color
        }
    }
}