.sidebar_container {
    @include default_transition;


    &.hide {
        width: 0;
        overflow: hidden;
    }

    &.show {
        opacity: 1;
    }

    .sidebar {
        background-color: $nav_bg;
        min-height: 80vh;
        min-width: 70%;
        overflow: hidden;
        @include default_transition;



        .logo {
            margin: 20%;
            width: 50%;
        }

        ul {
            li {
                color: $white_black;
                margin-bottom: 10px;

                padding: 5px 12px;

                &:hover:not(.title),
                &.active:not(.title) {
                    background: linear-gradient(270deg, #1DA6C5 0%, #8ED6EE);
                    width: 90%;
                    border-radius: 10px;
                }

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: inherit;
                    gap: 10px;
                    font-size: .9rem;
                }

                span {
                    text-transform: capitalize;
                }

                div {
                    font-weight: bold;
                }
            }
        }
    }
}