.sidebar_container {
    transition: .3s all ease-in-out;

    &.hide {
        width: 0;
        overflow: hidden;
    }

    &.show {
        opacity: 1;
    }

    .sidebar {
        background-color: $nav_bg;
        height: 80vh;
        min-width: 70%;
        overflow: hidden;
        transition: .3s all ease-in-out;


        .logo {
            position: absolute;
            bottom: 29px;
            width: 80%;
            left: 5%
        }
    }
}