.site_content {

    &.offset_left {
        @include default_transition;
        margin-inline-start: 14%;
    }

    h3 {
        text-transform: capitalize;
    }

    .employee_badge {
        max-height: 146px;
        max-width: 126px;
        text-align: center;
        border: 1px solid $white_black;
        border-radius: 10px;
        font-size: .9rem;
        color: $white_black;
        @include fast_transition;

        &.creative_badge {
            background-color: $creative_badge;
        }

        &.achieve_badge {
            background-color: $achieve_badge;
        }

        &.employee_of_month_badge {
            background-color: $employee_of_month_badge;
        }

        &.creative_badge2 {
            background-color: $creative_badge2;
        }

        &:hover {
            transform: scale(1.1);
        }

        div {
            margin: 20px 0;
        }
    }

    .calculations {
        border: 1px solid $white_black;
        margin: 20px auto;
        box-shadow: 0px 10px 20px 0px #00000021;
        padding: 10px !important;
        background: #FFF;

        @media (max-width:480px) {
            flex-direction: column;
            padding: 24px !important;
            border-radius: 19px !important;
        }

        @media (max-width:800px) {
            width: 100% !important;
        }

        li {

            gap: 3px;

            .dropdown-toggle::after {
                display: none;
            }

            &,
            button {
                font-size: 1rem;
                font-weight: 500;

            }

            button img {
                width: 10px;
            }

            span {
                font-size: 1.25rem;

                &.description {
                    font-size: .8rem;
                    padding-top: 1px;
                }
            }
        }
    }

    .tasks {
        background: #FFF;
        box-shadow: 0px 10px 20px 0px #00000020;
        color: #718088;

        .left {
            img {
                width: 50px;
                height: 50px;
                margin: 10px;
            }
        }

        .total_finished_counter {
            text-align: center;
            padding: 1px;
            color: $white_black;
            line-height: 37px;
            background: linear-gradient(288deg, #00C8FF 0%, #145266 104.41%),
                linear-gradient(263.69deg, #05C9FF -34.42%, #0A3A4A 114.54%);
            font-size: .8rem;
            height: 30px;
            width: 80px;
            border: 2px solid #05C9FF
        }

        .finished_tasks_counter {
            @extend .total_finished_counter;
            height: 23px;
            width: 66px;
            font-size: .7rem;

            &~* {
                font-size: .7rem;
            }
        }

        .tasks_tabs {
            border-bottom: 0 !important;





            .input_container {
                img {
                    transform: translate(80%, -50%)
                }

                .task_input {
                    border: none;
                    border-bottom: 1px solid #E6EEF2;
                    border-radius: initial;
                    padding-inline-start: 30px;
                    font-size: .8rem;

                    &:focus {
                        box-shadow: none
                    }
                }
            }

            .tasks_list {
                font-size: .8rem;

                &>li {
                    font-size: .8rem !important;
                    padding-left: 0;
                    color: $white_black_darker
                }
            }
        }
    }
}