.login,
.sign_up {
    min-height: 100vh;
    background-image: linear-gradient(#83C3FF80, #83C3FF80), url(../images/backgrounds/login_bg.png);
    background-size: cover;
    font-size: .8rem;
    padding: 40px;

    .login_container {
        background-color: #EEF1F2;

        .form_content {
            margin-inline-start: 60px;

            .form-control {
                background-color: transparent;

                &::placeholder {
                    display: block;
                }

                &:focus {
                    color: var(--bs-body-color);
                    background-color: var(--bs-body-bg);
                    border-color: #86b7fe;
                    outline: 0;
                }
            }
        }

        .left {
            padding: 3rem;
            margin-top: 80px;

            p {
                color: $white_black_darker
            }
        }

        .logo {
            width: 100px;
            position: absolute;
            top: 24px;
            left: 45px;
        }

        button {

            font-size: .8rem;

            &.sign_in {
                background-color: $nav_bg;
                color: #FFF;
            }

            img {
                width: 15px;
            }
        }

    }

    hr {
        margin: 0.5rem 0;
    }

    .user_image {
        height: 100%;
    }

    .form-check-input:checked {
        border-color: $nav_bg;
        background-color: $nav_bg
    }

    .hint {
        color: $nav_bg;
        font-weight: 500;
    }
}