.reporting_content {
    .card {
        font-size: .8rem;

        .desc {
            color: $white_black_darker;

            .min_target {
                color: $danger
            }
        }

        .financial_progress {

            &::before {
                content: attr(data_price)' $';
                position: absolute;
                top: -20px;
                left: 10px;
                font-weight: bold;
            }

            .target {
                content: "";
                height: 100%;
                width: 2px;
                position: absolute;
                top: 0;
                background-color: $danger;
            }

            .progress-bar {
                animation: 4s increase_width;
            }
        }
    }

    .calc_badge {
        height: 20px;
        width: 20px;
    }

    .calc_title {
        font-size: .6rem;
    }

    .rate {
        color: $green;
    }
}

@keyframes increase_width {
    from {
        width: 0
    }
}