.tracking_content {
    font-size: .8rem;

    .search_container {
        position: relative;
        width: 70%;

        input {
            padding-inline-start: 3rem;
            box-shadow: none;
            margin: 20px 0;
        }

        &::after {
            content: "";
            width: 24px;
            height: 24px;
            background: url(../images/icons/search.svg) no-repeat;
            color: $gray_color;
            position: absolute;
            top: 34%;
            left: 3%;
        }
    }

    .persons {
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0px 10px 20px 0px #00000036;

        .breadcrumb,
        & a {
            color: #363636;
            font-weight: 400;
        }

        .job_container,
        .location_container {
            gap: 5px;
            padding: 7px;

            img {
                width: 18px;
            }
        }

        .job_container {
            background: #BC50901A;

            img {
                width: 20px;
            }
        }

        .location_container {
            background: #5788C11A;

            img {
                width: 20px;
            }
        }

        .total {
            color: $nav_bg
        }

        .in_progress {
            color: $in_progress
        }

        .overdue {
            color: $danger
        }



        .list-group {
            max-height: 60vh;
            overflow: auto;

            .list-group-item {
                &.selected {
                    background: linear-gradient(0deg, #E6EEF2, #E6EEF2),
                        linear-gradient(0deg, #E6F7FF, #E6F7FF);
                }

                .emp_image {
                    width: 30px;
                }

                .btn {
                    padding: 0 5px;
                }
            }
        }
    }

    .data {
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0px 10px 20px 0px #00000036;

        .data_head {
            gap: 10px;

            .employee {
                img {
                    width: 70px;
                }
            }

            .task_card {
                gap: 5px;
                width: 21%;
                box-shadow: 0px 10px 20px 0px #00000036;
                padding: 16px 6px;

                h5 {
                    margin: 0;
                }

                img {
                    width: 30px;
                }
            }
        }

        .search_container {

            &::after {
                top: 6px;
            }

            input {
                margin: 0;

            }
        }

        .tasks_data {
            max-height: 50vh;
            overflow: auto;

            table {
                box-shadow: 0px 10px 20px 0px #0000001A;

                th {
                    color: #838383;
                    font-weight: normal;
                }

                td {
                    color: #363636
                }
            }
        }
    }
}